/* ------------------ Хаки для Google Chrome ------------------ */

/* ------------------ End Google Chrome ------------------ */





/* ------------------ Хаки для IE9 ------------------ */
 
 /*
 .pano {
position: relative\0/;
margin-left: -85px\0/;
margin-top: 61px\0/;
}*/

/* ------------------ End IE9 ------------------ */